@import './components/modal';

:root {
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 61.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

// ScrollBar
::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.6);
}

a,
span,
i {
    font-size: 1.6rem;
}

tr td,
tr th {
    padding: 10px;
    font-size: 1.6rem;
}

th {
    text-decoration: underline;
}

.btn,
.form-control {
    font-size: 1.6rem;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.pagination-lg .page-link {
    font-size: 16px;
}
