@import './layouts/header';
@import './layouts/sidebar';
@import './pages/dashboard';

.app {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 100%;
    display: flex;
    padding: 0;
}

.content {
    flex: 1;
}
